$white: #ffff;
$black: #050505;
$gray: #9E9E9E;
$gray-light: #E4E4E4;
$red: #FD6161;
$green: #09B905;
$purple-dark: #882ACF;
$purple-light: #A64AED;
$gradient: linear-gradient(135deg, #4AEDDA -8%, #A64AED 100%);


