.title {
    font-weight: 500;

    &_h1 {
        font-size: 40px;
        line-height: 40px;

        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 30px;
        }
    }

    &_h2 {
        font-size: 26px;
        line-height: 31.47px;
    }
}

.paragraph {
    font-weight: 500;
    &_main {
        font-size: 18px;
        line-height: 21.78px;

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 19.36px;
        }
    }
    &_strong {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 16px;
        }
    }
    &_utility {
        font-size: 14px;
        line-height: 14px;
    }
}